body {
  font-family: arial;
  font-size: 13px;
  text-align: center;
}

li {
  float: left;
  margin-right: 20px;
  margin-left: 0px;
  list-style-type: none;
}

a:link {
  text-decoration: none;
  color: #666;
}

a:visited {
  color: #666;
}

a:hover {
  text-decoration: underline;
}
a.no-underline:hover {
  text-decoration: none;
}

header ul {
  float: right;
}

.google-apps {
  display:block;
  position:relative;
  bottom:6px;
  height:30px;
  width:30px;
  background-image:url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
  background-position:-132px 30px;
  background-size:528px 68px;
  text-indent:-9999px;
  opacity: .55;
}

a.google-apps:hover {
 opacity: 1;
}

#sign-in {
  display: block;
  position: relative;
  background-color: #4285f4;
  width: 70px;
  height: 30px;
  border-color: #4285f4;
  border-radius: 4px 4px;
  color: #fff;
  top: -5px;
  font-weight: bold;
}

#logo-search {
  width: 100%;
  position: absolute;
  top: 15%;
  left: 50%
  margin-left: -50%;
  right: 0;
  left: 0;
  pointer-events: none;
  cursor: default;
}

#search {
  width: 575px;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: 20px;
  border-style: solid;
  border-color: #e8e8e8;
  border-width: 1px;
  box-shadow: 0px 2px #e8e8e8;
  font-weight: bold;
  color: #777777;
}

#mic {
  height: 25px;
  padding: 0;
  display: inline-block;
  margin: 0;
  position: absolute;
  margin-left: -35px;
  margin-top: 15px;  
}

footer {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
  margin-left: -27px;
  padding-right: 15px;
}

footer ul {
  margin-left: 20px;
  margin-bottom: 0px;
  position: relative;
}

